.imgPersax {
    width: 20%;
}

.imgPersaxPosition {
    left: 10px;
}

.imgPersaxLogin {
    width: 50%;
}

.containerPrincipal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid blue;
    padding: 40;
    background-color: white;
    padding: 50px;
}

.containerSecundario {
    text-align: center;
}

.buttonHeaderLeft {
    position: relative;
    margin-left: 50px;
    margin-top: 20px;
}
.buttonHeader {
    position: relative;
    margin-left: 50px;
    margin-top: 20px;
}

.buttonCenter {
    text-align: center;
}